<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title> Events Application</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body class="#e1bee7 purple lighten-4">
	<header>
		<nav class="#6a1b9a purple darken-3">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Registration of events</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/events" class="waves-effect waves-light btn-small"><i class="material-icons left">format_list_bulleted</i>Events List</a></li>
				</ul>
			</div>
		</nav>
	
	</header>
	<th:block th:include="messageValidation"></th:block>
	<div class="container eventForm">
	<form class="container" method="post">
		Name: <input type="text" value="" name="name">
		<div class="row"> 
			<div class="input-field col s6">
				Location: <input type="text" value="" name="location">
			</div>
			<div class="input-field col s3">
				Date: <input type="date" value="" name="date">
			</div>
			<div class="input-field col s3">
				Time: <input type="time" value="" name="time">
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Save</button>
	
	</form>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>